/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
.container{
    max-width: 1366px;
    margin:0 auto;
    padding:50px 120px;
}
.half-width{
    width: 50%;
}
.header-title{
    font-size: 30px;
    font-weight: 900;
}
.header-container{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.navigation{
    display: flex;
}
.navigation ul{
    display: flex;
}
.navigation ul li{
    list-style-type: none;
}
.navigation ul li i{
    color: #000;
    font-size: 20px;
}
.navigation ul li a{
    text-decoration: none;
    padding: 15px;
    font-size: 18px;
    color: #000;
    font-weight: 900;
}
.banner{
    display: flex;
    margin-top: 50px;
    padding: 50px;
}
.banner-left{
    width: 60%;
}
.banner-left h1{
    font-size: 55px;
    font-weight: 900;
    margin: 20px 0px;
}
.banner-left p{
    font-size: 18px;
    margin-bottom: 30px;
    width: 60%;
}
.button-link{
    padding: 10px 20px;
    outline: 0;
    border: 0;
    font-size: 18px;
    border-radius: 25px;
    background-color: #3E8E7E;
    color: #fff;
}
.button-link:hover{
    background-color: #205b4f;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.banner-left .button-link .arrow{
    color: #fff;
    margin-left: 5px;
}
.banner-right{
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    width: 40%;
}
.banner-right img:hover{
    transform: scale(110%);
    transition: 0.4s ease-in-out;
}
/* Products Section */

.products-header{
    font-size: 28px;
    text-align: center;
    margin: 50px 0;
}
.products{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 50px;
    justify-items: center;
}
.product{
    padding: 20px;
    width: 77%;
    background-color: #c4cedf1d;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
}
.product .product-img img{
    width: 100%;
}
.product .product-img img:hover{
    transform: scale(105%);
    transition: 0.5s ease-in-out;
    overflow: hidden;
}
.product:hover{
    box-shadow: rgba(99, 99, 99, 0.8) 0px 2px 8px 0px;
    transition: 0.3s;
}
.product-name{
    font-size: 28px;
}
.product-details i{
    color: orange;
}
.product-details .product-price{
    font-size: 24px;
}
.container .see-more{
    margin: 50px;
    display: block;
    text-align: right;
    text-decoration: none;
    color:#205b4f;
    font-weight: 900;
}
.container .see-more i{
    margin: 0 5px;
}

/* Payment Section */

.payment{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #3E8E7E;
    padding: 100px;
    align-items: center;
}
.payment-left{
    padding: 50px;
}
.payment-left h1{
    font-size: 50px;
    color: #fff;
}
.payment-right{
    display: grid;
    grid-template-columns: repeat(3,100px);
    row-gap: 20px;
    justify-content: center;
}
.payment-right i{
    font-size: 50px;
    color:#ffffff;
}

/* Footer */

footer{
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #fff;
    padding: 50px;
    justify-content: center;
    align-items: center;
}
footer h2{
    font-size: 24px;
    padding: 10px 0;
}
footer p{
    font-size: 14px;
    color: #D9DBE1;
    
}
.footer-icon i{
    font-size: 32px;
}
.footer-icon{
    display: flex;
    margin-top: 20px;
}
.footer-icon .icon{
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.277);
    padding:10px;
    border-radius: 25px;
    margin: 5px;
}

/*===========================
======== Media quiry ========
==============================*/


/* Mobile View */

@media(max-width:414px){
    .container{
        padding: 40px 10px;
    }
    .header-title{
        font-size: 18px;
    }
    .navigation ul li a{
        padding: 0 2px;
        font-size: 12px;
    }
    .navigation ul li a i{
        font-size: 12px;
    }
    .header-container{
        display: flex;
        justify-content: space-between;
        padding: 0px;
    }
    .container{
        padding: 30px 12px;
    }
    .banner{
        flex-direction: column;
        width: 90%;
        align-items: center;
    }
    .banner-left{
        width: 100%;
    }
    .banner-right{
        width: 100%;
        order: 1;
        margin-bottom: 30px;
    }
    .banner-right img{
        width: 100%;
    }
    .banner-left p{
        font-size: 12px;
        margin-bottom: 30px;
        width: 80%;
    }
    .banner-left h1{
        font-size: 35px;
    }
    .products{
        grid-template-columns: 1fr;
    }
    .payment{
        flex-direction: column;
        padding: 20px 0;
        justify-content: start;
    }
    .payment-left{
        padding: 40px 0;
    }
    .payment-left h1{
        font-size: 35px;
    }
    .payment-right{
        row-gap: 20px;
        column-gap: 0px;
        justify-content: space-between;
    }
    .payment-right i{
        font-size: 30px;
    }
    .footer-icon i{
        font-size: 20px;
    }
    .footer-icon{
        margin-top: 10px;
    }
    .footer-icon .icon{
        width: 35px;
        height: 35px;
        background-color: rgba(222, 197, 197, 0.263);
        padding:8px;
        border-radius: 15px;
        margin: 5px;
    }
}

/* Tab View */

@media (max-width:824px) {
    .header-title{
        font-size: 25px;
    }
    .navigation ul li a{
        padding: 0 4px;
        font-size: 14px;
    }
    .navigation ul li a i{
        font-size: 14px;
    }
    .banner{
        flex-direction: column;
        width: 80%;
        align-items: center;
    }
    .banner-left{
        order: 2;
        width: 100%;
    }
    .banner-right{
        width: 100%;
        order: 1;
        margin-bottom: 50px;
    }
    .banner-left p{
        font-size: 15px;
        margin-bottom: 20px;
        width: 80%;
    }
    .products{
        grid-template-columns: repeat(2,1fr);  
    }
    .product{
        padding: 12px;
        width: 87%;
    }
    .product-name{
        font-size: 24px;
    }
    .product-details .product-price{
        font-size: 20px;
    }
    .container .see-more{
        text-align: center;
    }
    .payment-left h1{
        font-size: 40px;
    }
    .payment-right i{
        font-size: 40px;
    }
}
